@keyframes animaçao {
    0% {
        color: #fff;
    }

    10% {
        color: #2ea1ff;
    }

    20% {
        color: aqua;
    }

    30% {
        color: crimson;
    }

    40% {
        color: chartreuse;
    }

    50% {
        color: darkmagenta;
    }

    60% {
        color: gold;
    }

    70% {
        color: indigo;
    }

    80% {
        color: burlywood;
    }

    90% {
        color: darkcyan;
    }

    100% {
        color: deeppink;
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

/* Página Home */

.fundo {
    background-image: url('Imagem/10302.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}

#fundo-cor {
    background: linear-gradient(to bottom, #000 10%, #2ea1ff 70%, #000 95%);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
    position: fixed;
}

#welcome {
    font-weight: bold;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    /* padrão era 600*/
    height: 480px;
    /* padrão era 180*/
    margin: auto;
    margin-top: 8%;
    color: #fff;

    animation-name: animaçao;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.logo {
    color: #2ea1ff;
    font-size: 20px;
}


.nav-items {
    list-style: none;
    display: flex;
    font-size: 20px;
}

.nav-items a {
    padding-left: 50px;
    text-decoration: none;
    color: #2ea1ff;
}

.navList {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2ea1ff;
}

a:hover {
    color: #00f;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropli {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0f0;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px #00F;
    z-index: 1;
}

.dropdown-content a {
    /* float: left; */
    justify-content: center;
    color: #00F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: grey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Páginas Sobre */

.nomeM {
    color: #00F;
    text-align: center;
    margin-top: 3%;
    font-size: 50px;
}

.textoM {
    color: #fff;
    text-align: justify;
    text-indent: 5%;
    font-size: 18px;
    margin-top: 2%;
    /* margin-left: 30%; */
    margin-right: 5%;
}

.fotoM {
    float: left;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 6%;
    margin-bottom: 10%;
    border: 10px;
    border-style: solid;
    border-color: #00f;
    border-radius: 100%;
}

.nomeC {
    color: #00f;
    text-align: center;
    margin-top: 5px;
    font-size: 50px;
}

.textoC {
    color: #fff;
    text-align: justify;
    text-indent: 5%;
    font-size: 18px;
    margin-top: 12%;
    margin-right: 10%;
    margin-left: 40%;
}


.fotoC {
    float: left;
    margin-top: 2%;
    margin-left: 10%;
    border: 10px;
    border-style: solid;
    border-color: #00f;
}

.linkEnder {
    color: chartreuse;
}

.linkEnder:hover {
    color: cyan;
}

/* Página Tabela */

.tabela {
    color: #fff;
    margin: 0 auto;
    /* margin: 0 auto; centraliza a tabela*/
    text-align: center;
    margin-top: 6%;
    width: 800px;
    height: 200px;
    padding-top: 3px;
}

th {
    font-size: 20px;
    color: aqua;
    border: 5px solid rgb(27, 6, 96);
}

th:hover {
    color: rgb(27, 6, 96);
    background-color: rgb(14, 155, 173);
}

td {
    border: 5px;
    border-style: solid;
    border-color: rgb(14, 155, 173);
}

td:hover {
    background-color: rgb(27, 6, 96);
}

caption {
    color: aqua;
    font-size: 30px;
    font-weight: bold;
    border: 10px solid rgb(27, 6, 96);
    padding: 10px;
}

.alinhacoluna {
    text-align: left;
    font-weight: bold;
}

/* Página Site */

#titleSite {
    font-size: 50px;
    color: #00F;
    text-align: center;
    margin-top: 5px;
}

.nomeSite {
    font-size: 40px;
    color: #fff;
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}

.listaSiteM {
    font-size: 25px;
    color: #fff;
    list-style: circle;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 40%;
    margin-left: 28%;
    margin-top: 2%;
}

.listaSiteC {
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 25%;
    margin-top: -8%;
    /* Está errado XXXXXXXXXXXXXXXXXXXXXX */
}

.linkSite {
    color: chartreuse;
}

.linkSite:hover {
    color: aqua;
}

/* Página Contato */

.titleCont {
    font-size: 50px;
    margin-top: 5px;
    text-align: center;
    color: #00F;
}

.grupoform {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 30px;
}

.taglabel {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}

.controlform {
    color: #fff;
    width: 1000px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #000;
}

.controltext {
    color: #fff;
    margin-top: 30px;
    width: 1400px;
    height: 200px;
    background-color: #000;
}

::-webkit-input-placeholder {
    font-size: 15px;
    color: gray;
    font-weight: bold;
}

.tagmensagem {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.tagbotao {
    color: #000;
    margin-top: 40px;
    margin-right: 10px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    background-color: #0f0;
}

.address {
    color: #fff;
    text-align: center;
    margin-top: 7%;
}